<!--***********************************************************
    <h1>{{titulo}}</h1>

<button (click)="acumular1(+1 )" >+1 </button>

<span> {{ numero }} </span>

<button (click)="acumular1(-1 )">-1  </button>


<h3>La base es: <strong> base </strong></h3>

<button (click)="acumular2( +5 )">+5 </button>

<span> {{ base }} </span>

<button (click)="acumular2(-5 )">-5 </button>


 esto es del html siver pero yo quise poner 
los sos juntos entonces no me servia este metodo pero si solo 
fura para una valor sirve sin problema 
<h3>La base es: <strong> base </strong></h3>

<button (click)="acumular( +5 )">+{{ base }} </button>

<span> {{ numero }} </span>

<button (click)="acumular(-5 )">- {{ base }}</button>
**************************************************************** -->


<!-- <app-contador></app-contador> -->
<app-contador></app-contador>

<!-- <app-heroe></app-heroe>-->


<!-- <app-listado></app-listado> -->